version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: assista-ctf
    ports:
      - "5000:5000"
    volumes:
      - ./backend/quiz.db:/app/quiz.db
      - ./backend/uploads:/app/uploads

